<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840398145144-il71lhgevtuvcqpvsqu4uvq6gllhgngd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840398145144-il71lhgevtuvcqpvsqu4uvq6gllhgngd</string>
	<key>API_KEY</key>
	<string>AIzaSyA_jfzIGMLWPoT9G8fjdqi3v2jnbQ948yg</string>
	<key>GCM_SENDER_ID</key>
	<string>840398145144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.whatever</string>
	<key>PROJECT_ID</key>
	<string>test-chat-5530d</string>
	<key>STORAGE_BUCKET</key>
	<string>test-chat-5530d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840398145144:ios:617f17047a5d82b4924f8d</string>
</dict>
</plist>